<!DOCTYPE html>
<html>
	<head>
		<title>Socket Games</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/client.css' />
		<script src='/socket.io/socket.io.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="/javascripts/clientConnect.js"></script>
		<script src="/javascripts/<%= gameScript %>"></script>
	</head>
	<body>
		<div id="table">
			<div id="table-cell">
				<div id="login">
					<input id="m" type='text'>
					<button onClick="javascript:unisciti()">Connettiti</button>
				</div>
				<div id="game">
					<button onClick="javascript:fuoco()" disabled>Fire!</button>
				</div>
			</div>
		</div>
	</body>
</html>
