<!DOCTYPE html>
<html>
	<head>
	<title>Socket Games</title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div>Decidi come vuoi usare questo device</div>
		<button onClick="location.href='/server'">Server</button>
		<button onClick="location.href='/client'">Client</button>
	</body>
</html>
