<!DOCTYPE html>
<html>
	<head>
		<title>Socket Games</title>
		<link rel='stylesheet' href='/stylesheets/server.css' />
	</head>
	<body>
		<div>Quando vedi "Bang!" spara. Il primo che spara vince</div>
	</body>
</html>
