html, body{
	height: 100%;
}
body *{
	margin: 0 auto;
	font-size: 20px;
}
#table{
	height: 100%;
	display: table;
}
#table-cell{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
#login{
	> *{
		padding: 0.5em;
	}
	> button{
		border: 1px solid #660066;
		background-color: #660066;
		color: #00ff00;
		border-radius: 4px;
	}
	> input{
		border: 1px solid;
		border-radius: 4px;
	}
}
#game{
	display: none;
}
